{% extends base.html %}
{% block css%}
<link href="../static/dist/account_manage.css" rel="stylesheet" type="text/css"/>
{% end %}
{% block body %}
<div class="ui-manage-form">
    <h2 class="form-signin-heading ui-manage-title">账号管理</h2>
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label class="col-sm-2 control-label">GM账号</label>
            <div class="col-sm-10">
                <select class="form-control op-level-account" id="inputEmail3" placeholder="账号" >
                    <option value=''>下拉选择GM账号</option>
                    {% for gmAccount in gmAccountList %}
                    <option value='{{ escape(gmAccount.account) }}'>{{ escape(gmAccount.account) }}</option>
                    {% end %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">GM权限</label>
            <div class="col-sm-10">
                <select class="form-control ui-select op-level-select">
                    <option>下拉选择权限等级</option>
                    {% for permissionLevel in permissionLevelList %}
                    <option value='{{permissionLevel.level}}'>{{ escape(permissionLevel.levelDesc)}}</option>
                    {% end %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="channel-div" style="display:none">
            <label class="col-sm-2 control-label">渠道</label>
            <div class="col-sm-10">
                <input type="checkbox" name="op-channel" value="0" /> 默认全渠道<br/>
                {% for channel in channelMap %}
                <input type="checkbox" name="op-channel" value='{{ escape(channel) }}' /> {{ escape(channelMap.get(channel)) }}:{{ channel}}<br/>
                {% end %}
            </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default op-level-submit">修改权限</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="submit" class="btn btn-default op-delete">删除账号</button>
            </div>
        </div>
        <div class='ui-msg'>
            {{ msg }}
        </div>
    </form>
</div>
<script type="text/javascript">
    var selectEl = $('.op-level-select'),
        accountEl = $('.op-level-account'),
        updateEl = $('.op-level-submit'),
        deleteEl = $('.op-delete'),
        checkedChannel='',
        ajaxing = false,
        idx=0,
        checked,
        data = {};

    selectEl.change(function(){
        if($(this).val()=="0"){
            $(".channel-div").show();
        }else{
            $(".channel-div").hide();
        }
    });

    updateEl.on('click', function() {
        if(ajaxing ) return false;
        if(accountEl.val()==""){
            alert("选择账号");
            return false;
        }
        if( selectEl.val().length != 1){
            alert("选择权限");
            return false;
        }
        ajaxing = true;

        data['account'] = accountEl.val();
        data['level'] = selectEl.val();
        checkedChannel='';
        if(data['level']==1){
            checkedChannel='0';
        }else{
            checked=$(':input[name="op-channel"]').filter(":checked");
            idx =0;
            checked.each(function() {
                idx++
                checkedChannel=checkedChannel+$(this).val();
                if(idx!=checked.length){
                    checkedChannel=checkedChannel+",";
                }
            });
        }
        data['channel'] = checkedChannel;
        $.ajax({
            url: '/api/account/update_level',
            type: 'post',
            data: data
        })
         .done(function(data) {
             ajaxing = false;
             if(data == 'wrong permissions') {
                 location.href = '/?msg=原页面无权限访问，跳转到此';
                 alert(data);
             } else {
                 data = JSON.parse(data);
             }

             if(data.action == 'success') {
                 alert('账号权限修改成功！');
             } else if(data.action == 'no account') {
                 alert('该账号不存在！');
             }
         });
        return false;
    });
    deleteEl.on('click', function() {
        if(ajaxing || accountEl.val()=="") {
            alert("请选择账号");
            return false;
        }
        ajaxing = true;
        data['account'] = accountEl.val();
        data['delete'] = "true";
        $.ajax({
            url: '/api/account/update_level',
            type: 'post',
            data: data
        })
        .done(function(data) {
            ajaxing = false;
            if(data == 'wrong permissions') {
                location.href = '/?msg=原页面无权限访问，跳转到此';
                alert(data);
            } else {
                data = JSON.parse(data);
            }

            if(data.action == 'success') {
                window.location.reload();
                alert('删除权限修改成功！');
            } else if(data.action == 'no account') {
                alert('该账号不存在！');
            }
        });
        return false;
    });


</script>
{% end %}
