<div class="col-sm-10">
    <select class="form-control ui-goods op-award-goods-type" id='op-award-goods-type'>
        <option value="0">请选择奖品类型</option>
    </select>
    <input type="text" class="form-control ui-goods op-award-goods-id hide" id='op-award-goods-id' placeholder="选择物品id">
    <input type="hidden" id='op-award-goods_id_name' >
    <input type="text"  class="form-control ui-goods op-award-goods-num" id='op-award-goods-num' placeholder="物品数量">
    <button type="button" class="btn btn-default ui-goods op-award-goods-add" id='op-award-goods-add'>添加</button>
</div>
<div class="col-sm-10 ui-list-wrap">
    <ul class="col-sm-6 ui-award-content op-award-content-list" id="op-award-content-list">
    </ul>
</div>


