{% extends base.html %}
{% block css%}
<link href="../static/dist/gear_fortify_list.css" rel="stylesheet" type="text/css"/>
{% end %}
{% block body %}
<div class="ui-currency-change-list-option">
    <h2 class="form-signin-heading ui-currency-change-list-title">装备强化日志</h2>
    <ul class="ui-currency-change-list-list op-currency-change-list-list">
        <li class="ui-currency-change-list-item clearfix">
            <div class="ui-currency-change-list-cell-id">
                玩家ID
            </div>
            <div class="ui-currency-change-list-cell">
                装备BaseID
            </div>
            <div class="ui-currency-change-list-cell">
                装备InstID
            </div>
            <div class="ui-currency-change-list-cell">
                装备ModID
            </div>
            <div class="ui-currency-change-list-cell-small">
                品质
            </div>
            <div class="ui-currency-change-list-cell-small">
                变化后
            </div>
            <div class="ui-currency-change-list-cell-small">
                变化前
            </div>
            <div class="ui-currency-change-list-cell-small">
                IsDeleted
            </div>
            <div class="ui-currency-change-list-cell-small">
                IsBreak
            </div>
            <div class="ui-currency-change-list-cell-small">
                IsProtected
            </div>
            <div class="ui-currency-change-list-cell-small">
                IsSuccess
            </div>
            <div class="ui-currency-change-list-cell-big">
                时间
            </div>
            <div class="ui-currency-change-list-cell-big">
                原因
            </div>
        </li>
        {% for index,info in enumerate(currencyChangeList) %}
        <li class="ui-currency-change-list-item clearfix">
            <div class="ui-currency-change-list-cell-id">
                <a href='/api/player_search?playerId={{info.get("Uin")}}'>
                    {{ info.get("SUin")}}
                </a>
            </div>
            <div class="ui-currency-change-list-cell">
                {{ info.get("BaseID")}}
            </div>
            <div class="ui-currency-change-list-cell">
                {{ info.get("InstID")}}
            </div>
            <div class="ui-currency-change-list-cell">
                {{ info.get("ModID")}}
            </div>
            <div class="ui-currency-change-list-cell-small">
                {{ info.get("Quality")}}
            </div>
            <div class="ui-currency-change-list-cell-small">
                {{ info.get("CurFortify")}}
            </div>
            <div class="ui-currency-change-list-cell-small">
                {{ info.get("PreFortify")}}
            </div>
            <div class="ui-currency-change-list-cell-small">
                {{ info.get("IsDeleted")}}
            </div>
            <div class="ui-currency-change-list-cell-small">
                {{ info.get("IsBreak")}}
            </div>
            <div class="ui-currency-change-list-cell-small">
                {{ info.get("IsProtected")}}
            </div>
            <div class="ui-currency-change-list-cell-small">
                {{ info.get("IsSuccess")}}
            </div>

            <div class="ui-currency-change-list-cell-big">
                {{ info.get("Time")}}
            </div>
            <div class="ui-currency-change-list-cell-big">
                {{ info.get("Source")}}
            </div>
        </li>
        {% end %}
    </ul>
</div>
<script>
 /* $('.op-query').click( function(e) {e.preventDefault();
  *     e.target.href="currency_change/list?time="+$("#timeId").val();
  *     window.location.href="/currency_change/list?time="+$("#timeId").val();
  *     return true;
  * } );*/

</script>
{% end %}
