{% extends base.html %}
{% block css%}
<link href="../static/dist/game_update.css" rel="stylesheet" type="text/css"/>
{% end %}
{% block body %}
<div class="ui-game-update">
    <h2 class="form-signin-heading">动态更新包上传</h2>
    <form class="form-horizontal" role="form" action="/api/game/dynamic_package_generator" method="post">
        <!-- <div class="form-group">
             <label class="col-sm-3 control-label">更新包</label>
             <div class="col-sm-4">
             <input type="file">
             </div>
             </div> -->
        <!-- <div class="form-group">
             <label class="col-sm-3 control-label">适用服务器</label>
             <ul class="col-sm-9 ui-channel-list op-server-wrap"></ul>
             </div> -->
        <div class="form-group">
            <label class="col-sm-3 control-label">渠道号*</label>
            <div class="col-sm-4">
            <select  name="channel" class="col-sm-4 form-control ui-channel-select op-channel-select">
              <option value="0">请选择渠道(默认全渠道)</option>
            </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">内部版本号*</label>
            <div class="col-sm-4">
                <input class="form-control" placeholder="当前版本号{% raw result['platformServerVersion'] %}" name="version">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">svnResource地址*</label>
            <div class="col-sm-8">
                <input class="form-control" value="{% raw result['ClientSVNResourcesURL'] %}" name="svnurl">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">SVN 起始版本号</label>
            <div class="col-sm-4">
                <input class="form-control" placeholder="" name="svnFromVersion">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">SVN 结束版本号</label>
            <div class="col-sm-4">
                <input class="form-control" placeholder="" name="svnToVersion">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-4">
                <button type="submit" class="btn btn-default">提交</button>
            </div>
        </div>
    </form>
</div>

<script src="../static/javascript/base/base.js"></script>
<script type="text/javascript">
 var defaultChannelName={% raw result['defaultChannelName'] %},
     channels = {% raw result['channels'] %},
     channelEl = $('.op-channel-select') ;

 var channelStr = '';
 for(var i = 0, len = channels.length; i < len; i++) {
     channelStr += '<option value="' + channels[i] + '">' + defaultChannelName[channels[i]] + '</option>';
 }
 channelEl.append(channelStr);

</script>
{% end %}
