{% extends base.html %}
{% block css%}
<link href="../static/dist/game_update.css" rel="stylesheet" type="text/css"/>
{% end %}
{% block body %}
<div class="ui-game-update">
    <h2 class="form-signin-heading">动态更新包上传</h2>
    <form class="form-horizontal" role="form" action="/api/game/dynamic" method="post">
        <!-- <div class="form-group">
             <label class="col-sm-3 control-label">更新包</label>
             <div class="col-sm-4">
             <input type="file">
             </div>
             </div> -->
        <!-- <div class="form-group">
             <label class="col-sm-3 control-label">适用服务器</label>
             <ul class="col-sm-9 ui-channel-list op-server-wrap"></ul>
             </div> -->
        <div class="form-group">
            <label class="col-sm-3 control-label">渠道号*</label>
            <div class="col-sm-4">
                <input class="form-control" name="channel" placeholder="如 7:iphonecake">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">内部版本号*</label>
            <div class="col-sm-4">
                <input class="form-control" placeholder="例如1001001" name="version">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">动态更新包url地址*</label>
            <div class="col-sm-4">
                <input class="form-control" placeholder="http://qiniu.com/a/b/c.zip" name="url">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">包大小size(int)</label>
            <div class="col-sm-4">
                <input class="form-control" placeholder="例如:102400,(非必須)" name="size">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">SVN版本号</label>
            <div class="col-sm-4">
                <input class="form-control" placeholder="非必须,客户端备注用" name="svnVersion">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">版本说明</label>
            <div class="col-sm-4">
                <textarea class="form-control" rows="3" name="comment"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">备注</label>
            <div class="col-sm-4">
                <textarea class="form-control" rows="3" name="note"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4">
                <input type="hidden"  name="user" value="dynamicUser"></textarea>
                <input type="hidden"  name="password" value="dynamicPassword"></textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-4">
                <button type="submit" class="btn btn-default">提交</button>
            </div>
        </div>
    </form>

    <button class="op-test" value="test"></button>
</div>

<script src="../static/javascript/base/base.js"></script>
<script type="text/javascript">
 /* server select
    var serverData = {% raw result %},
    serverWrapEl = $('.op-server-wrap');

    serverChoise.serverDomAdd(serverData, serverWrapEl);

    var testEl = $('.op-test');

    testEl.on('click', function() {
    var data = {
    'user': 'dynamicUser',
    'password': 'dynamicPassword',
    'channel': 1,
    'version': 1,
    'url': 'www.baidu.com',
    'size': 1,
    'comment': 'comment',
    'note': 'note',
    'svnVersion': 1
    }

    $.ajax({
    url: '/api/game/dynamic',
    type: 'post',
    data: data
    })
    .done(function(data) {
    alert(data['status']);
    });
    });
  */

</script>
{% end %}
