{% extends base.html %}
{% block css%}
<link href="../static/dist/mail_edit.css" rel="stylesheet" type="text/css"/>
<link href="../static/dist/award_select.css" rel="stylesheet" type="text/css"/>
{% end %}
{% block body %}

<div class="ui-mail-edit">
    <h2 class="form-signin-heading">邮件编辑</h2>
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label class="col-sm-2 control-label">选服</label>
            <div class="col-sm-2">
                <select class="form-control op-server" id='op-server'>
                    {% for serverId in serverIdList %}
                    <option value="{{serverId}}">{{serverId}}服</option>
                    {% end %}
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">邮件标题</label>
            <div class="col-sm-2">
                <input type="text" class="form-control ui-mail-title op-mail-title" id="op-mail-title" placeholder="邮件标题">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">玩家id</label>
            <div class="col-sm-10">
                <textarea type="text" class="form-control ui-playerid" id='op-playerid' placeholder="逗号或换行分隔的玩家id(长短都行)，为空时表示发给所有玩家"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">邮件内容</label>
            <div class="col-sm-10">
                <textarea type="text" class="form-control op-mail-content" id='op-mail-content' placeholder="邮件内容"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">有效期(小时)</label>
            <div class="col-sm-10">
                <input type="text" class="form-control ui-mail-title op-hour" id="op-hour" value="24">
            </div>
        </div>


        <div class="form-group">
            <label class="col-sm-2 control-label">奖励</label>
            {% include award_select_template.html %}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <!-- <button type="submit" class="btn btn-default op-submit-btn" data-type="save" >存草稿</button> -->
                <button type="submit" class="btn btn-default op-submit-btn" data-type="send">直接发送</button>
            </div>
        </div>
    </form>
    <div class="ui-data op-data">
    </div>
</div>

<script type="text/javascript" src='../static/javascript/base/award_select.js'>
</script>
<script type="text/javascript">
 getAwardIdFun();

 var  titleEl = $('#op-mail-title');
 var  serverIdEl= $('#op-server');
 var  contentEl = $('#op-mail-content');
 var  playerIdEl = $('#op-playerid');
 var  hourEl = $('#op-hour');
 var ajaxing = false;
 var submitEl = $('.op-submit-btn');
 submitEl.on('click', function(){
     var data=getAwardDataFun();
     data['type']=$(this).data('type');
     data['title'] = titleEl.val();
     data['content'] =contentEl.val() ;
     data['playerid'] =playerIdEl.val() ;
     data['serverid']=serverIdEl.val();
     data['hour']=hourEl.val();
     $('.op-data').empty();
     if (contentEl.val()=="" &&data['awards']==""&&data['award_list']==""){
         alert("不允许 内容和奖励都是空");
     }

     ajaxing = true;
     $(this).attr('disabled', 'true');
     $.ajax({
         url: '/mail/edit',
         type: 'post',
         data: data
     })
      .done(function(data) {
          ajaxing = false;
          submitEl.removeAttr("disabled");

          data = JSON.parse(data);
          if(data['sendType']=="save"){
              location.href = '/mail/draft_list';
          }else{
              $('.op-data').empty();
              $('.op-data').append("发送邮件数:"+data['data'].length+"<br/>");
              if(!(data['data'].length==1 && data['data'][0]['uin']=='0')){
                  $('.op-data').append("以下为成功发送到邮箱的玩家(由于缓存或客户端收取邮件时机的原因，玩家收取此邮件可能会有5min左右的延迟):<br/>");
              }


              var line;
              var info;
              for(var i = 0, len = data['data'].length; i < len; i++) {
                  info=data['data'][i]
                  line="";

                  if(info['uin']!="0"){
                      $('.op-data').append("<a href='/api/player_search?playerId="+info['uin']+"'>"+info['uin']+"</a> "+line+"<br/>");
                  }else{
                      $('.op-data').append("已发送到所有玩家邮箱中(距玩家能领到邮件有一定的延迟，请玩家耐心等待)");

                  }
              }
          }
      });
     return false;

 });
</script>
{% end %}
