{% extends base.html %}
{% block css%}
<link href="../static/dist/pay_order_list.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="../static/javascript/plugin/any_time/any_time.css">
{% end %}
{% block body %}
<div class="ui-pay-order-list-option">
    <h2 class="form-signin-heading ui-pay-order-list-title">定单列表</h2>

    <form class="form-horizontal" role="form" action="/pay_order/list">
        <div class="form-group">
            <label class="col-sm-3 control-label">渠道</label>
            <div class="col-sm-3">

                <select class="form-control op-channel" name="channel" id="channel"  placeholder="渠道">
                    {% if Account!=None and Account.channel==0 %}
                        <option value='0'>下拉选择渠道(默认全渠道)</option>
                        {% for channel in channelMap %}
                        <option  value='{{ escape(channel) }}'>{{ escape(channelMap.get(channel)) }}:{{ channel}}</option>
                        {% end %}
                    {%else%}
                        <option value='{{Account.channel}}'>{{ channelMap.get(str(Account.channel)) }}: {{ Account.channel}}</option>
                    {%end%}
                </select>

            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">开始时间</label>
            <div class="col-sm-3">
                <input class="form-control op-time-start" type="text" name="timeStart" id="timeStart" value="{{timeStart}}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">结束时间</label>
            <div class="col-sm-3">
                <input class="form-control op-time-end" type="text" id="timeEnd" name="timeEnd" value="{{timeEnd}}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">总金额:</label>
            <div class="col-sm-3">
                <span class="form-control " disabled >
                    {{moneyTotal}}
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"></label>
            <div class="col-sm-3">
                <button type="submit" class="btn btn-default op-submit">查询</button>
            </div>
        </div>

    </form>


    <ul class="ui-pay-order-list-list op-pay-order-list-list">
        <li class="ui-pay-order-list-item clearfix">
            <div class="ui-pay-order-list-cell-id">
                    ID
            </div>
            <div class="ui-pay-order-list-cell-small">
                <a href='/pay_order/list?sort=channel ,create_time desc' class='op-sort-href'>
                渠道号
                </a>
            </div>
            <div class="ui-pay-order-list-cell-small">
                支付类型
            </div>
            <div class="ui-pay-order-list-cell-big">
                定单号
            </div>
            <div class="ui-pay-order-list-cell-big">
               sdk定单号
            </div>
            <div class="ui-pay-order-list-cell-big">
                ProductId
            </div>
            <div class="ui-pay-order-list-cell-small">
                    货币
            </div>
            <div class="ui-pay-order-list-cell">
                <a href='/pay_order/list?sort=create_time desc' class='op-sort-href'>
                时间
                </a>
            </div>
        </li>
        {% for index,info in enumerate(payOrderList) %}
        <li class="ui-pay-order-list-item clearfix">
            <div class="ui-pay-order-list-cell-id">
                <a href='/api/player_search?playerId={{info.uin}}'>
                {{ info.uin}}
                </a>
            </div>
            <div class="ui-pay-order-list-cell-small">
                {{ info.channel}}
            </div>
            <div class="ui-pay-order-list-cell-small">
                {{ info.payType}}
            </div>
            <div class="ui-pay-order-list-cell-big">
                {{ info.order_id}}
            </div>
            <div class="ui-pay-order-list-cell-big">
                {{ info.sdk_order_id}}&nbsp;
            </div>
            <div class="ui-pay-order-list-cell-big">
                {{ info.product_id}}
            </div>
            <div class="ui-pay-order-list-cell-small">
                {{ info.money}}
            </div>
            <div class="ui-pay-order-list-cell">
                {{ info.create_time}}
            </div>
        </li>
        {% end %}
    </ul>
</div>
<script type="text/javascript" src="../static/javascript/plugin/any_time/any_time.js"></script>
<script>
 /*     $('.op-sort-href').click( function(e) {e.preventDefault(); alert(e.target.href); return false; } );*/
 var dateFormat = "%Y-%m-%d";
 $("#timeStart").AnyTime_picker({format:dateFormat});
 $("#timeEnd").AnyTime_picker({format:dateFormat});

    </script>
{% end %}
