{% extends base.html %}
{% block css%}
<link href="../static/dist/player_info.css" rel="stylesheet" type="text/css"/>
<link href="../static/dist/block_list.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="../static/javascript/plugin/any_time/any_time.css">
{% end %}
{% block body %}
<div class="ui-info-option">
{% if Account!=None and Account.channel=='0' %}
    <h2 class="form-signin-heading ui-info-title">玩家信息</h2>
    {% if not isBanned %}
    <button type="button" class="btn btn-default op-ban " id='btn-ban'>封号</button>
    {%else%}
    <button type="button" class="btn btn-default op-unban " id='btn-unban'>解封</button>
    {% end %}
    {% if not isBannedChat %}
    <button type="button" class="btn btn-default op-ban-chat " id='btn-ban-chat'>禁言</button>
    {%else%}
    <button type="button" class="btn btn-default op-unban-chat " id='btn-unban-chat'>解除禁言</button>
    {% end %}

    {% if not isBannedUUID %}
    <button type="button" class="btn btn-default op-ban-uuid " id='btn-ban-uuid'>封设备</button>
    {%else%}
    <button type="button" class="btn btn-default op-unban" id='btn-unban-uuid'>解封设备</button>
    {% end %}

    <button type="button" class="btn btn-default op-kick " id='btn-kick'>踢人</button>
    <button type="button" class="btn btn-default op-del " id='btn-del'>删号</button>
{% end %}
    <a class="btn btn-default"  href="/pay_order/list?where=uin%3D{{ user.uin  }}">定单列表</a>

    <ul class=" list-unstyled ui-content-lists">
        {% if user != None %}
        <li class="clearfix ui-lists-item">
            <span class="ui-items-cell col-sm-2">PlayerID:</span>
            <span class="ui-items-cell col-sm-9">{{ user.uin  }} </span>
            <input type="hidden" id='uin' value='{{ user.uin  }}' >
            <input type="hidden" id='uuid' value='{{ user.uuid  }}' >
            <input type="hidden" id='accountId' value='{{ user.accountId  }}' >
            <input type="hidden" id='server' value='{{ user.server  }}' >
        </li>
        <li class="clearfix ui-lists-item">
            <span class="ui-items-cell col-sm-2">PlayerSID:</span>
            <span class="ui-items-cell col-sm-9">{{ user.suin}} </span>
        </li>
        {% end %}

        {% if userAttr != None %}
        <li class="clearfix ui-lists-item">
            <span class="ui-items-cell col-sm-2">昵称:</span>
            <span class="ui-items-cell col-sm-2"><input type="text" class="form-control " readonly="readonly"  id="op-nickname" value="{{userAttr.nickName}}"> </span>
        </li>
        <li class="clearfix ui-lists-item">
            <span class="ui-items-cell col-sm-2">性别:</span>
            {% if userAttr.gender == 0 %}
            <span class="ui-items-cell col-sm-9">男 </span>
            {% else %}
            <span class="ui-items-cell col-sm-9">女 </span>
            {% end %}
        </li>
        <li class="clearfix ui-lists-item">
            <span class="ui-items-cell col-sm-2">个性签名:</span>
            <span class="ui-items-cell col-sm-9"><input type="text" class="form-control " readonly="readonly" id="op-desc" value="{{userAttr.desc}}"> </span>
        </li>

        {% end %}
        {% if user != None %}
        <li class="clearfix ui-lists-item">
            <span class="ui-items-cell col-sm-2">账号:</span>
            <span class="ui-items-cell col-sm-9">{{ user.accountId  }} </span>
        </li>
        <li class="clearfix ui-lists-item">
            <span class="ui-items-cell col-sm-2">账号类型:</span>

            {% if user.accountType == 1 %}
            <span class="ui-items-cell col-sm-9">AI</span>
            {%else %}
            <span class="ui-items-cell col-sm-9">普通</span>
            {% end %}
        </li>

        <li class="clearfix ui-lists-item">
            <span class="ui-items-cell col-sm-2">服务器:</span>
            <span class="ui-items-cell col-sm-9">{{ user.server  }} </span>
        </li>
        <li class="clearfix ui-lists-item">
            <span class="ui-items-cell col-sm-2">渠道:</span>
            <span class="ui-items-cell col-sm-9">{{ channelMap.get(str(user.channel))  }}:{{user.channel}} </span>
        </li>
        <li class="clearfix ui-lists-item">
            <span class="ui-items-cell col-sm-2">设备号:</span>
            <span class="ui-items-cell col-sm-9">{{ user.uuid  }} </span>
        </li>
        <li class="clearfix ui-lists-item">
            <span class="ui-items-cell col-sm-2">系统:</span>
            {% if user.os == 1 %}
            <span class="ui-items-cell col-sm-9">IOS</span>
            {% elif user.os==2 %}
            <span class="ui-items-cell col-sm-9">Android</span>
            {% elif user.os==3 %}
            <span class="ui-items-cell col-sm-9">windows</span>
            {% elif user.os==13 %}
            <span class="ui-items-cell col-sm-9">WP8</span>
            {% else %}
            <span class="ui-items-cell col-sm-9">未知</span>
            {% end %}
        </li>
        <li class="clearfix ui-lists-item">
            <span class="ui-items-cell col-sm-2">创建时间</span>
            <span class="ui-items-cell col-sm-9">{{ user.createTime  }} </span>
        </li>
        {% if userAttr != None %}
            <li class="clearfix ui-lists-item">
                <span class="ui-items-cell col-sm-2">最近登录时间</span>
                <span class="ui-items-cell col-sm-9">{{ userAttr.lastLoginTime  }} </span>
            </li>

        {% end %}

        {% end %}
    </ul>



    <!-- <h5 class="form-signin-heading ui-desk-title">查询玩家资产流水</h5>
         <ul class="">
         <label class="col-sm-2 control-label">选择时间:</label>
         <div class="col-sm-2">
         <input class="form-control op-time-start" type="text" id="timeId">
         </div>
         <button type="submit" class="btn btn-default op-query-assets-log ui-sumbit" >查询</button>
         </ul>
       -->
</div>
<script type="text/javascript" src="../static/javascript/plugin/any_time/any_time.js"></script>
<script type="text/javascript">
 var dateFormat = "%Y-%m-%d";
 $("#timeId").AnyTime_picker({format:dateFormat});

 var uinEl         = $('#uin');
 var uuidEl        = $('#uuid');
 var serverEl      = $('#server');
 var submitEl      = $('.op-submit');
 var banEl         =$("#btn-ban");
 var unbanEl       =$("#btn-unban");
 var banChatEl         =$("#btn-ban-chat");
 var unbanChatEl         =$("#btn-unban-chat");
 var unbanUUIDEl   =$("#btn-unban-uuid");

 var lastPayTimeEl =$("#op-last-PayTime");
 var btnKickEl     =$("#btn-kick");
 var btnBanUUIDEl  =$("#btn-ban-uuid");

 var nickNameEl    =$("#op-nickname");
 var descEl        =$("#op-desc");
 var delEl         =$("#btn-del");
 var accountIdEl   =$("#accountId");

 var btnQueryAssetsLogEl=$(".op-query-assets-log");


 /* 　$('input').attr("readonly","readonly")//将input元素设置为readonly
  * 　　$('input').removeAttr("readonly");//去除input元素的readonly属性
  * 　　 if($('input').attr("readonly")==true)//判断input元素是否已经设置了readonly属性     */
 /*  });*/

 submitEl.on('click', function(){
     var data={};
     data['uin'] = uinEl.val();

     data['server']=serverEl.val();
     data['nickName']=nickNameEl.val();
     data['desc']=descEl.val();
     ajaxing = true;
     $.ajax({
         url: '/api/player_info_update',
         type: 'post',
         data: data
     })
      .done(function(data) {
          ajaxing = false;
          if(data!="success"){
              alert(data);
          }
          window.location.reload();
      });
     return false;

 });

 banChatEl.on('click',function(){
     var data={};
     data['uin'] = uinEl.val();
     ajaxing = true;
     $.ajax({
         url: '/api/player_ban_chat',
         type: 'post',
         data: data
     })
      .done(function(data) {
          ajaxing = false;
          if(data!="success"){
              alert(data);
          }
          window.location.reload();
      });
     return false;


 });
 unbanChatEl.on('click',function(){
     var data={};
     data['uin'] = uinEl.val();
     ajaxing = true;
     $.ajax({
         url: '/api/player_unban_chat',
         type: 'post',
         data: data
     })
      .done(function(data) {
          ajaxing = false;
          if(data!="success"){
              alert(data);
          }
          window.location.reload();
      });
     return false;
 });

 banEl.on('click',function(){
     var data={};
     data['uin'] = uinEl.val();
     ajaxing = true;
     $.ajax({
         url: '/api/player_ban',
         type: 'post',
         data: data
     })
      .done(function(data) {
          ajaxing = false;
          if(data!="success"){
              alert(data);
          }
          window.location.reload();
      });
     return false;


 });
 btnBanUUIDEl.on('click',function(){
     var data={};
     data['uuid'] = uuidEl.val();
     ajaxing = true;
     $.ajax({
         url: '/api/player_ban_uuid',
         type: 'post',
         data: data
     })
      .done(function(data) {
          ajaxing = false;
          if(data!="success"){
              alert(data);
          }
          window.location.reload();
      });
     return false;


 });

 unbanEl.on('click',function(){
     var data={};
     data['uin'] = uinEl.val();
     ajaxing = true;
     $.ajax({
         url: '/api/player_unban',
         type: 'post',
         data: data
     })
      .done(function(data) {
          ajaxing = false;
          if(data!="success"){
              alert(data);
          }
          window.location.reload();
      });
     return false;
 });
 unbanUUIDEl.on('click',function(){
     var data={};
     data['uin'] = uuidEl.val();
     ajaxing = true;
     $.ajax({
         url: '/api/player_unban',
         type: 'post',
         data: data
     })
      .done(function(data) {
          ajaxing = false;
          if(data!="success"){
              alert(data);
          }
          window.location.reload();
      });
     return false;
 });

 btnKickEl.on('click',function(){
     var data={};
     data['uin'] = uinEl.val();
     data['serverId'] = serverEl.val();
     data['processId'] = '0';
     ajaxing = true;
     $.ajax({
         url: '/player/kick',
         type: 'post',
         data: data
     })
      .done(function(data) {
          ajaxing = false;
          if(data!="success"){
              alert(data);
          }
          window.location.reload();
      });
     return false;
 });
 delEl.on('click',function(){
     var data={};
     data['uin'] = uinEl.val();
     data['accountId'] = accountIdEl.val();
     ajaxing = true;
     $.ajax({
         url: '/player/del',
         type: 'post',
         data: data
     })
      .done(function(data) {
          ajaxing = false;
          if(data!="success"){
              alert(data);
          }
          window.location.reload();
      });
     return false;
 });

 btnQueryAssetsLogEl.on('click',function(){
     time=  $("#timeId").val();
     if(time==""){
         alert("请选择时间");
         return false;
     }
     uin = uinEl.val();
     location.href = '/assets_log/list?uin='+uin+"&time="+time;
 });




</script>

{% end %}
