{% extends base.html %}
{% block css%}
<link href="../static/dist/player_list.css" rel="stylesheet" type="text/css"/>
{% end %}
{% block body %}
<div class="ui-player-list-option">
    <h2 class="form-signin-heading ui-player-list-title">玩家列表</h2>
    <div style="margin-left:40px">
        {% for p in range(0,totalPages) %}
        {%if p+1 == page %}
        <a style="background-color:cyan" href='/player/list?sort={{sortField}}&page={{p+1}}&reverse={{reverse}}' >{{p+1}}</a>&nbsp;&nbsp;
        {%else%}
        <a href='/player/list?sort={{sortField}}&page={{p+1}}&reverse={{reverse}}' >{{p+1}}</a>&nbsp;&nbsp;
        {%end%}
        {%end%}
    </div>

    <ul class="ui-player-list-list op-player-list-list">
        <li class="ui-player-list-item clearfix">
            <div class="ui-player-list-cell">
                序号
            </div>

            <div class="ui-player-list-cell">
                <a href='/player/list?sort=uin&reverse=False' class='op-sort-href'>
                    ⬆️
                </a>
                    ID
                <a href='/player/list?sort=uin&reverse=True' class='op-sort-href'>
                    ⬇️
                </a>

            </div>
            <div class="ui-player-list-cell">
                昵称
            </div>
            <div class="ui-player-list-cell">
                渠道
            </div>
            <div class="ui-player-list-cell">
                <a href='/player/list?sort=vipValue&reverse=False' class='op-sort-href'>
                    ⬆️
                </a>
                    VIP值
                <a href='/player/list?sort=vipValue&reverse=True' class='op-sort-href'>
                    ⬇️
                </a>

            </div>
            <div class="ui-player-list-cell">
                <a href='/player/list?sort=gold&reverse=False' class='op-sort-href'>
                    ⬆️
                </a>
                    金币
                <a href= '/player/list?sort=gold&reverse=True' class='op-sort-href'>
                    ⬇️
                </a>

                </a>
            </div>
            <div class="ui-player-list-cell">
                <a href='/player/list?sort=gem&reverse=False' class='op-sort-href'>
                    ⬆️
                </a>

                    钻石
                <a href= '/player/list?sort=gem&reverse=True' class='op-sort-href'>
                    ⬇️
                </a>
            </div>
            <div class="ui-player-list-cell">
                <a href= '/player/list?sort=rmb&reverse=False' class='op-sort-href'>
                    ⬆️
                </a>
                    充值
                <a href= '/player/list?sort=rmb&reverse=True' class='op-sort-href'>
                    ⬇️
                </a>
            </div>
            <div class="ui-player-list-assets">
                资产
            </div>

        </li>
        {% for index,info in enumerate(result) %}
        <li class="ui-player-list-item clearfix">
            <div class="ui-player-list-cell">
                {{index+1}}
            </div>

            <div class="ui-player-list-cell">
                <a href='/api/player_search?playerId={{info.get("uin")}}'>
                {{ info.get('suin')}}
                </a>
            </div>
            <div class="ui-player-list-cell">
                <a href='/api/player_search?playerId={{info.get("uin")}}'>
                {% if info.get('isAI',False) %}
                <span style="color:red">{{ info.get('nickname')}}</span>
                {% else %}
                {{ info.get('nickname')}}
                {% end %}
                </a>
            </div>
            <div class="ui-player-list-cell">
                {{ info.get('channel')}}
            </div>
            <div class="ui-player-list-cell">
                {{ info.get('vipValue')}}
            </div>
            <div class="ui-player-list-cell">
                {{ info.get('gold')}}
            </div>
            <div class="ui-player-list-cell">
                {{ info.get('gem')}}
            </div>
            <div class="ui-player-list-cell">
                {{ info.get('rmb')}}
            </div>
            <div class="ui-player-list-assets">
                车:{{ info.get('car')}},船:{{ info.get('boat')}}, 表:{{ info.get('watch')}}, 房:{{ info.get('house')}}
            </div>
        </li>
        {% end %}
    </ul>
</div>
<script>
 /*     $('.op-sort-href').click( function(e) {e.preventDefault(); alert(e.target.href); return false; } );*/
    </script>
{% end %}
