{% extends base.html %}
{% block css%}
<link href="../static/dist/player_info.css" rel="stylesheet" type="text/css"/>
<link href="../static/dist/block_list.css" rel="stylesheet" type="text/css"/>
{% end %}
{% block body %}
<div class="ui-info-option">
    <h2 class="form-signin-heading ui-info-title">玩家信息</h2>
    {% if not isBanned %}
    <button type="button" class="btn btn-default op-ban " id='btn-ban'>封号</button>
    {%else%}
    <button type="button" class="btn btn-default op-unban " id='btn-unban'>解封</button>
    {% end %}
    <ul class=" list-unstyled ui-content-lists">
        {% if user != None %}
        <li class="clearfix ui-lists-item">
            <span class="ui-items-cell col-sm-2">PlayerID:</span>
            <span class="ui-items-cell col-sm-9">{{ user.uin  }} </span>
            <input type="hidden" id='uin' value='{{ user.uin  }}' >
            <input type="hidden" id='server' value='{{ user.server  }}' >
        </li>
        <li class="clearfix ui-lists-item">
            <span class="ui-items-cell col-sm-2">PlayerSID:</span>
            <span class="ui-items-cell col-sm-9">{{ user.suin}} </span>
        </li>
        {% end %}

        {% if userAttr != None %}
        <li class="clearfix ui-lists-item">
            <span class="ui-items-cell col-sm-2">昵称:</span>
            <span class="ui-items-cell col-sm-9">{{ userAttr.nickName}} </span>
        </li>
        <li class="clearfix ui-lists-item">
            <span class="ui-items-cell col-sm-2">性别:</span>
            {% if userAttr.gender == 0 %}
            <span class="ui-items-cell col-sm-9">男 </span>
            {% else %}
            <span class="ui-items-cell col-sm-9">女 </span>
            {% end %}
        </li>
        <li class="clearfix ui-lists-item">
            <span class="ui-items-cell col-sm-2">个性签名:</span>
            <span class="ui-items-cell col-sm-9">{{userAttr.desc}} </span>
        </li>

        {% end %}
        {% if user != None %}
        <li class="clearfix ui-lists-item">
            <span class="ui-items-cell col-sm-2">账号:</span>
            <span class="ui-items-cell col-sm-9">{{ user.accountId  }} </span>
        </li>
        <li class="clearfix ui-lists-item">
            <span class="ui-items-cell col-sm-2">账号类型:</span>

            {% if user.accountType == 1 %}
            <span class="ui-items-cell col-sm-9">AI</span>
            {%else %}
            <span class="ui-items-cell col-sm-9">普通</span>
            {% end %}
        </li>

        <li class="clearfix ui-lists-item">
            <span class="ui-items-cell col-sm-2">服务器:</span>
            <span class="ui-items-cell col-sm-9">{{ user.server  }} </span>
        </li>
        <li class="clearfix ui-lists-item">
            <span class="ui-items-cell col-sm-2">渠道:</span>
            <span class="ui-items-cell col-sm-9">{{ channelMap[str(user.channel)]  }} </span>
        </li>
        <li class="clearfix ui-lists-item">
            <span class="ui-items-cell col-sm-2">设备号:</span>
            <span class="ui-items-cell col-sm-9">{{ user.uuid  }} </span>
        </li>
        <li class="clearfix ui-lists-item">
            <span class="ui-items-cell col-sm-2">系统:</span>
            {% if user.os == 1 %}
            <span class="ui-items-cell col-sm-9">IOS</span>
            {% elif user.os==2 %}
            <span class="ui-items-cell col-sm-9">Android</span>
            {% elif user.os==3 %}
            <span class="ui-items-cell col-sm-9">windows</span>
            {% elif user.os==13 %}
            <span class="ui-items-cell col-sm-9">WP8</span>
            {% else %}
            <span class="ui-items-cell col-sm-9">未知</span>
            {% end %}
        </li>
        <li class="clearfix ui-lists-item">
            <span class="ui-items-cell col-sm-2">创建时间</span>
            <span class="ui-items-cell col-sm-9">{{ user.createTime  }} </span>
        </li>
        {% end %}
    </ul>

    {% if money!= None %}
    <ul class=" list-unstyled ui-content-lists">
        <h3 class="">资产信息</h2>
            <li class="clearfix ui-lists-item">
                <span class="ui-items-cell col-sm-2 control-label">金币:</span>
                <span class="ui-items-cell col-sm-2"><input type="text" class="form-control " id="op-gold" value="{{money.gold}}"> </span>

                <span class="ui-items-cell col-sm-2 control-label">钻石:</span>
                <span class="ui-items-cell col-sm-2"><input type="text" class="form-control " id="op-gem" value="{{money.gem}}"> </span>
            </li>

            <li class="clearfix ui-lists-item">
                <span class="ui-items-cell col-sm-2 control-label">vip值:</span>
                <span class="ui-items-cell col-sm-2"><input type="text" class="form-control " disabled id="op-vipValue" value="{{money.vipValue}}"> </span>
                {% if money.vipValue!=0 and money.lastPayTime!=None %}
                <span class="ui-items-cell col-sm-2 control-label">vip过期时间:</span>
                {% if (money.lastPayTime+datetime.timedelta(days=30)-datetime.datetime.now()).days>0 %}
                <span class="ui-items-cell col-sm-2">剩余{{ (money.lastPayTime+datetime.timedelta(days=30)-datetime.datetime.now()).days }}天</span>
                {%else%}
                <span class="ui-items-cell col-sm-2">已过期</span>
                {%end%}
            </li>

            <li class="clearfix ui-lists-item">
                <span class="ui-items-cell col-sm-2 control-label">表:</span>
                <span class="ui-items-cell col-sm-2"><input type="text" class="form-control " id="op-watch" value="{{money.watch}}"> </span>

                <span class="ui-items-cell col-sm-2 control-label">车:</span>
                <span class="ui-items-cell col-sm-2"><input type="text" class="form-control " id="op-car" value="{{money.car}}"> </span>
            </li>
            <li class="clearfix ui-lists-item">
                <span class="ui-items-cell col-sm-2 control-label">房:</span>
                <span class="ui-items-cell col-sm-2"><input type="text" class="form-control " id="op-house" value="{{money.house}}"> </span>

                <span class="ui-items-cell col-sm-2 control-label">船:</span>
                <span class="ui-items-cell col-sm-2"><input type="text" class="form-control " id="op-boat" value="{{money.boat}}"> </span>
            </li>


            <li class="clearfix ui-lists-item">
                <span class="ui-items-cell col-sm-2 control-label">小喇叭:</span>
                <span class="ui-items-cell col-sm-2"><input type="text" class="form-control " id="op-speaker" value="{{money.speaker}}"> </span>

                <span class="ui-items-cell col-sm-2 control-label">踢人卡:</span>
                <span class="ui-items-cell col-sm-2"><input type="text" class="form-control " id="op-kickCard" value="{{money.kickCard}}"> </span>
            </li>

            <div class="ui-sumbit">
                <button type="submit" class="btn btn-default op-submit ui-sumbit" >保存</button>
            </div>
            {%end%}
    </ul>
    {% end %}
</div>
<script type="text/javascript">
 var uinEl = $('#uin');
 var serverEl = $('#server');
 var goldEl = $('#op-gold');
 var gemEl = $('#op-gem');
 var vipValueEl = $('#op-vipValue');
 var carEl = $('#op-car');
 var watchEl = $('#op-watch');
 var houseEl = $('#op-house');
 var boatEl= $('#op-boat');
 var speakerEl= $('#op-speaker');
 var kickCardEl= $('#op-kickCard');
 var submitEl = $('.op-submit');
 var banEl=$("#btn-ban");
 var unbanEl=$("#btn-unban");

 submitEl.on('click', function(){
     var data={};
     data['uin'] = uinEl.val();
     data['gold'] =goldEl.val();
     data['gem'] =gemEl.val();
     data['vipValue'] =vipValueEl.val();
     data['car'] =carEl.val();
     data['watch'] =watchEl.val();
     data['house'] =houseEl.val();
     data['boat'] =boatEl.val();
     data['speaker'] =speakerEl.val();
     data['kickCard'] =kickCardEl.val();
     data['server']=serverEl.val();
     ajaxing = true;
     $.ajax({
         url: '/api/player_info_update',
         type: 'post',
         data: data
     })
      .done(function(data) {
          ajaxing = false;
          if(data!="success"){
              alert(data);
          }
          window.location.reload();
      });
     return false;

 });
 banEl.on('click',function(){
     var data={};
     data['uin'] = uinEl.val();
     ajaxing = true;
     $.ajax({
         url: '/api/player_ban',
         type: 'post',
         data: data
     })
      .done(function(data) {
          ajaxing = false;
          if(data!="success"){
              alert(data);
          }
          window.location.reload();
      });
     return false;


 });
 unbanEl.on('click',function(){
     var data={};
     data['uin'] = uinEl.val();
     ajaxing = true;
     $.ajax({
         url: '/api/player_unban',
         type: 'post',
         data: data
     })
      .done(function(data) {
          ajaxing = false;
          if(data!="success"){
              alert(data);
          }
          window.location.reload();
      });
     return false;


 });

</script>

{% end %}
