{% extends base.html %}
{% block css%}
<link href="../static/dist/present_pack_add.css" rel="stylesheet" type="text/css"/>
{% end %}
{% block body %}
<div class="ui-pack-add">
    <h2 class="form-signin-heading">礼包打包</h2>
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label class="col-sm-2 control-label">礼包名称</label>
            <div class="col-sm-10">
                <input type="text" class="form-control ui-pack-name op-pack-name" id="inputEmail3" placeholder="礼包名称">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">礼包类型</label>
            <div class="col-sm-10">
                <div class="radio col-sm-2">
                    <label>
                        <input class="op-pack-type" type="radio" name="packType" value="" checked>全部
                    </label>
                </div>
                <div class="radio col-sm-2">
                    <label>
                        <input class="op-pack-type" type="radio" name="packType" value="mail">邮件
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">礼包内容</label>
            <div class="col-sm-10">
                <select class="form-control ui-goods op-goods-type">
                    <option value="0">请选择奖品类型</option>
                    <option value="1">钻石(gem)</option>
                    <option value="2">金币(gold)</option>
                    <option value="3">舍利(relics)</option>
                    <option value="4">RMB</option>
                    <option value="5">主角(leader)</option>
                    <option value="6">英雄(hero)</option>
                </select>
                <input type="text" class="form-control ui-goods op-goods-id hide" placeholder="选择物品id">
                <input type="text" class="form-control ui-goods op-goods-num" placeholder="物品数量">
                <button type="button" class="btn btn-default ui-goods op-goods-add">添加</button>
            </div>
            <div class="col-sm-10 ui-list-wrap">
                <ul class="col-sm-6 ui-pack-content op-content-list">
                </ul>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default op-submit-btn">生成</button>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    var goodsAddEl = $('.op-goods-add'),
        modalEl = $('.op-modal'),
        modalTitleEl = $('.op-modal-title'),
        modalListEl = $('.op-modal-list'),
        listEl = $('.op-content-list'),
        typeEl = $('.op-goods-type'),
        numEl = $('.op-goods-num'),
        goodsIdEl = $('.op-goods-id'),
        nameEl = $('.op-pack-name'),
        statusEl = $('.op-pack-type'),
        versionEl = $('.op-pack-version'),
        submitEl = $('.op-submit-btn'),
        ajaxing = false,
        getIdFun,
        addPieceIdDomFun,
        addHeroIdDomFun,
        addLeaderIdDomFun;

        goodsAddEl.on('click', function() {
            var typeName = '',
                typeId = '',
                goodsId = '',
                count = '',
                htmlStr = '';

            typeId = typeEl.val();
            goodsId = goodsIdEl.val();
            count = numEl.val();
            if(typeId != '0' && count != '') {
                typeName = typeEl.find("option:selected").text();
                htmlStr += '<li class="ui-pack-item clearfix op-goods-item" data-id="' + typeId + '" data-goodsid="' + goodsId + '" data-count="' + count + '">' +
                               '<span>' + typeName + 'x' + count + '</span>' +
                               '<button class="btn btn-default ui-item-delete op-delete">删除</button>' +
                           '</li>';
                listEl.append(htmlStr);
                typeEl.children().eq(0).attr('selected', 'true');
                goodsIdEl.val('');
                goodsIdEl.addClass('hide');
                numEl.val('');
            } else {
                return false;
            }
        });

        listEl.delegate('.op-delete', 'click', function(e) {
            $(e.currentTarget).parent().remove();
            return false;
        });

        getIdFun = function(type) {
            var url,
                infoType = type;
            switch(type) {
                case '5':
                    url = '/present_pack/id_list';
                    break;
                case '6':
                    url = '/present_pack/id_list';
                    break;
            }
            if(url==""){
                return
            }

            ajaxing = true;
            $.ajax({
                url: url,
                type: 'post',
                infoType: infoType
            })
            .done(function(data) {
                if(data['action'] == 'success') {
                    ajaxing = false;
                    var info = JSON.parse(data['result']);
                    if(infoType == '5') {
                        addLeaderIdDomFun(info);
                    }
                    if(infoType == '6') {
                        addHeroIdDomFun(info);
                    }
                }
            });
        }
        addHeroIdDomFun = function(info) {
            var htmlStr = '';
            for(var i = 0, len = info.length; i < len; i++) {
                htmlStr += '<li class="ui-modal-item op-modal-item" data-id="' + info[i]['equId'] + '">' +
                               '<a href="javascript:;" class="ui-cell-wrap">' +
                                   '<span class="ui-modal-cell">' +
                                       '装备id：' +
                                       info[i]['equId'] +
                                   '</span>' +
                                   '<span class="ui-modal-cell">' +
                                       '装备名称：' +
                                       info[i]['equName'] +
                                   '</span>' +
                               '</a>' +
                           '</li>';
            }
            modalTitleEl.text('选择装备种类');
            modalListEl.html(htmlStr);
            modalEl.modal();
        }

        addLeaderIdDomFun = function(info) {
            var htmlStr = '';
            for(var i = 0, len = info.length; i < len; i++) {
                htmlStr += '<li class="ui-modal-item op-modal-item" data-id="' + info[i]['propId'] + '">' +
                               '<a href="javascript:;" class="ui-cell-wrap">' +
                                   '<span class="ui-modal-cell">' +
                                       '道具id：' +
                                       info[i]['propId'] +
                                   '</span>' +
                                   '<span class="ui-modal-cell">' +
                                       '道具名称：' +
                                       info[i]['propName'] +
                                   '</span>' +
                               '</a>' +
                           '</li>';
            }
            modalTitleEl.text('选择道具种类');
            modalListEl.html(htmlStr);
            modalEl.modal();
        }

        typeEl.on('change', function(e) {
            var val = e.currentTarget.value;
            goodsIdEl.val('');
            if(val == '5' || val == '6' ) {
                goodsIdEl.removeClass('hide');
            } else {
                goodsIdEl.addClass('hide');
            }
        });

        goodsIdEl.on('click', function() {
            var type = typeEl.val(),
                data;
            if(ajaxing) return false;
            if(type == '5' || type == '6') {
                getIdFun(type);
            } else {
                    return false;
            }
        });

        submitEl.on('click', function() {
            var data = {},
                rewards = [],
                goods = $('.op-goods-item'),
                id,count,
                name = nameEl.val(),
                version = '1';
            if(goods.length == 0 || name == '') {
                return false;
            }
            /* if(versionEl.val() != '') {
               version = versionEl.val();
               } */
            goods = $('.op-goods-item');
            for(var i = 0, len = goods.length; i < len; i++ ) {
                var info = {};
                id = goods.eq(i).data('id');
                goodsId = goods.eq(i).data('goodsid');
                count = goods.eq(i).data('count');
                info['reward_type_id'] = id;
                info['reward_sub_id'] = goodsId;
                info['reward_count'] = count;
                rewards.push(info);
            }
            data['rewards'] = JSON.stringify(rewards);
            data['reward_name'] = nameEl.val();
            data['version'] = version;
            data['reward_icon'] = '';
            data['status'] = statusEl.filter(":checked").val();
            ajaxing = true;
            $.ajax({
                url: '/present_pack/add',
                type: 'post',
                data: data
            })
            .done(function(data) {
                ajaxing = false;
                location.href = '/present_pack/list'
            });
            return false;
        });
</script>
{% end %}
