{% extends base.html %}
{% block css%}
<link href="../static/dist/present_pack_add.css" rel="stylesheet" type="text/css"/>
{% end %}
{% block body %}
<div class="ui-pack-add">
    <h2 class="form-signin-heading">礼包打包</h2>
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label class="col-sm-2 control-label">礼包名称</label>
            <div class="col-sm-10">
                <input type="text" class="form-control ui-pack-name op-pack-name" id="inputEmail3" placeholder="礼包名称">
            </div>
        </div>
        <!-- <div class="form-group">
             <label class="col-sm-2 control-label">礼包类型</label>
             <div class="col-sm-10">
             <div class="radio col-sm-2">
             <label>
             <input class="op-pack-type" type="radio" name="packType" value="" checked>全部
             </label>
             </div>
             <div class="radio col-sm-2">
             <label>
             <input class="op-pack-type" type="radio" name="packType" value="mail">邮件
             </label>
             </div>
             </div>
             </div> -->
        <div class="form-group">
            <label class="col-sm-2 control-label">礼包内容</label>
            <div class="col-sm-10">
                <select class="form-control ui-goods op-goods-type">
                    <option value="0">请选择奖品类型</option>
                    {% for award in awardList %}
                    <option value='{{ escape(award) }}:{{ escape(awardList[award]["has_id"]) }}'>{{ escape(awardList[award]["name"]) }}</option>
                    {% end %}
                </select>
                <input type="text" class="form-control ui-goods op-goods-id hide" placeholder="选择物品id">
                <input type="hidden" id='goods_id_name' >
                <input type="text"  class="form-control ui-goods op-goods-num" placeholder="物品数量">
                <button type="button" class="btn btn-default ui-goods op-goods-add">添加</button>
                
            </div>
            <div class="col-sm-10 ui-list-wrap">
                <ul class="col-sm-6 ui-pack-content op-content-list">
                </ul>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default op-submit-btn">生成</button>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    var goodsAddEl = $('.op-goods-add'),
        listEl = $('.op-content-list'),
        typeEl = $('.op-goods-type'),
        numEl = $('.op-goods-num'),
        goodsIdEl = $('.op-goods-id'),
        goodsIdNameEl = $('#goods_id_name'),
        nameEl = $('.op-pack-name'),
        /*         statusEl = $('.op-pack-type'), */
        versionEl = $('.op-pack-version'),
        submitEl = $('.op-submit-btn'),
        ajaxing = false,
        idData,
        getIdFun;

 
        goodsAddEl.on('click', function() {
            var typeName = '',
                typeId = '',
                goodsId = '',
                count = '',
                htmlStr = '';

            typeId = typeEl.val();
            goodsId = goodsIdEl.val();
            goodsIdName=goodsIdNameEl.val();
            count = numEl.val();
            if(typeId != '0' && count != '') {
                typeName = typeEl.find("option:selected").text();
                if(goodsId==""){
                    htmlStr += '<li class="ui-pack-item clearfix op-goods-item" data-id="' + typeId + '" data-goodsid="' + goodsId + '" data-count="' + count + '">' +
                               '<span>' + typeName + 'x' + count + '</span>' +
                               '<button class="btn btn-default ui-item-delete op-delete">删除</button>' +
                               '</li>';
                }else{
                    htmlStr += '<li class="ui-pack-item clearfix op-goods-item" data-id="' + typeId + '" data-goodsid="' + goodsId + '" data-count="' + count + '">' +
                               '<span>[' + typeName +" "+goodsIdName+ ']x' + count + '</span>' +
                               '<button class="btn btn-default ui-item-delete op-delete">删除</button>' +
                               '</li>';
                }
                listEl.append(htmlStr);
                typeEl.children().eq(0).attr('selected', 'true');
                goodsIdEl.val('');
                goodsIdEl.addClass('hide');
                numEl.val('');
            } else {
                return false;
            }
        });

        listEl.delegate('.op-delete', 'click', function(e) {
            $(e.currentTarget).parent().remove();
            return false;
        });

        getIdFun = function(type) {
            var url='/present_pack/id_list';
            var infoType = type;

            ajaxing = true;
            $.ajax({
                url: url,
                type: 'post',
                infoType: infoType,
                data:{"id":type}
            })
            .done(function(data) {
                if(data['action'] == 'success') {
                    ajaxing = false;
                        idData=JSON.parse(data['result']);
                        goodsIdEl.autocomplete({source: idData, minLength:0,
                                                select: function( event, ui ) {goodsIdNameEl.val(ui.item.label);}});
                        goodsIdEl.autocomplete( "search", goodsIdEl.val());
                }
            });
        }


        typeEl.on('change', function(e) {
            var val = e.currentTarget.value;
            goodsIdEl.val('');
            if(val.indexOf(":true")!= -1 ) {
                goodsIdEl.removeClass('hide');
            } else {
                goodsIdEl.addClass('hide');
            }
        });

        goodsIdEl.on('click', function() {
            var type = typeEl.val(),
                data;
            tokens=type.split(":");
            type=tokens[0];
            hasId=tokens[1];
            if(ajaxing) return false;
            if(hasId=="true") {
                getIdFun(type);
            } else {
                return false;
            }
        });

        submitEl.on('click', function() {
            var data = {},
                awards = [],
                goods = $('.op-goods-item'),
                id,count,
                name = nameEl.val(),
                version = '1';
            goods = $('.op-goods-item');
            if(goods.length == 0 || name == '') {
                alert("礼包名为空 或未添加任何奖品");
                return false;
            }
            /* if(versionEl.val() != '') {
               version = versionEl.val();
               } */
            for(var i = 0, len = goods.length; i < len; i++ ) {
                var info = {};
                id = goods.eq(i).data('id');
                goodsId = goods.eq(i).data('goodsid');
                count = goods.eq(i).data('count');
                info['award_type_id'] = id;
                info['award_sub_id'] = goodsId;
                info['award_count'] = count;
                awards.push(info);
            }
            data['awards'] = JSON.stringify(awards);
            data['pack_name'] = nameEl.val();
            data['version'] = version;
            data['pack_icon'] = '';
            /*             data['status'] = statusEl.filter(":checked").val(); */
            ajaxing = true;
            $.ajax({
                url: '/present_pack/add',
                type: 'post',
                data: data
            })
            .done(function(data) {
                ajaxing = false;
                location.href = '/present_pack/list'
            });
            return false;
        });
</script>
{% end %}
