{% extends base.html %}
{% block css%}
<link href="../static/dist/rank.css" rel="stylesheet" type="text/css"/>
{% end %}
{% block body %}
<div class="ui-rank-edit">
    <h2 class="form-signin-heading ui-edit-title">排行榜信息</h2>
    <form class="form-horizontal ui-edit-form" role="form">
        <div class="form-group">
            <label class="col-sm-2 control-label">服务器</label>
            <div class="col-sm-10">
                <select class="form-control op-sel-server col-sm-2" >
                    <option value='1'>下拉选择serverId(default 1)</option>
                    {% for serverId in serverIdList %}
                    <option value='{{serverId}}'>{{ serverId }}</option>
                    {% end %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-default op-add-submit">查询</button>
            </div>
        </div>
    </form>
    <h4 class="form-signin-heading ui-edit-title">等级排行榜</h4>
    <div class="ui-data op-data-level">
        <div class=" ui-data-h  op-data-level-keys">
        </div>
        <div class=" ui-data-h  op-data-level-values">
        </div>
    </div>
    <h4 class="form-signin-heading ui-edit-title">战力排行榜</h4>
    <div class=" ui-data op-data-power">
        <div class=" ui-data-h  op-data-power-keys">
        </div>
        <div class=" ui-data-h  op-data-power-values">
    </div>
    </div>
</div>

<script type="text/javascript">
 var ajaxing = false,
     submitBtnEl = $('.op-add-submit'),
     serverEl = $('.op-sel-server'),
     data = {};



 submitBtnEl.on('click', function() {
     data['server'] =  serverEl.val();
     if(ajaxing) return false;
     ajaxing = true;
     $.ajax({
         url: '/bi/rank_post',
         type: 'post',
         data: data
     })
      .done(function(data) {
          data = JSON.parse(data);
          if(data['levelKeys'].length == 0 ) {
              $('.op-data-level-keys').empty();
              $('.op-data-level-keys').append("<div>玩家Id</div>");
              $('.op-data-level-values').empty();
              $('.op-data-level-values').append("<div>等级</div>");
              ajaxing = false;
              return false;
          }else{
              ajaxing = false;
              $('.op-data-level-keys').empty();
              $('.op-data-level-keys').append("<div>玩家Id</div>");
              for(var i = 0, len = data['levelKeys'].length; i < len; i++) {
                  $('.op-data-level-keys').append("<div ><a href='/api/player_search?playerId="+data['levelKeys'][i]+"'>"+data['levelKeys'][i]+"</a></div>");
              }
              $('.op-data-level-values').empty();
              $('.op-data-level-values').append("<div>等级</div>");
              for(var i = 0, len = data['levelValues'].length; i < len; i++) {
                  $('.op-data-level-values').append(data['levelValues'][i]+"<br/>");
              }
          }

          if(data['powerKeys'].length == 0 ) {
              $('.op-data-power-keys').empty();
              $('.op-data-power-keys').append("<div>玩家Id</div>");
              $('.op-data-power-values').empty();
              $('.op-data-power-values').append("<div>战力</div>");
              ajaxing = false;
              return false;
          }else{
              ajaxing = false;
              $('.op-data-power-keys').empty();
              $('.op-data-power-keys').append("<div>玩家Id</div>");
              for(var i = 0, len = data['powerKeys'].length; i < len; i++) {
                  $('.op-data-power-keys').append("<a href='/api/player_search?playerId="+data['powerKeys'][i]+"'>"+data['powerKeys'][i]+"</a><br/>");
              }
              $('.op-data-power-values').empty();
              $('.op-data-power-values').append("<div>战力</div>");
              for(var i = 0, len = data['powerValues'].length; i < len; i++) {
                  $('.op-data-power-values').append(data['powerValues'][i]+"<br/>");
              }
          }
          /*           location.href = '/notice/add';*/
      });
     return false;
 });
 submitBtnEl.click()
</script>
{% end %}
