{% extends base.html %}
{% block css%}
<link href="../static/dist/maintain.css" rel="stylesheet" type="text/css"/>
{% end %}
{% block body %}
<div class="ui-login-form">
    <h2 class="form-signin-heading ui-login-title">服务器管理</h2>
    <form class="form-horizontal op-modal" role="form">
        <br/>
        一个服务器下可分多条线<br/>
        每条线有3个状态<br/>
        running:正常运行的服务器<br/>
        stopping:点击 预停 按钮之后 将会进入此状态，此状态下，游戏中的玩家可以正常玩完本局，不允许登录<br/>
        stopped:彻底停掉的服（线），此状态不会进行显示<br/>
        切线与预停按扭的区别是，预停之后，各房间会关闭，而切线仅仅是不允许新的玩家登录,并不会关闭房间，已登录的玩家可以继续游戏<br/>
        切线按扭主要作用是：让玩家逐渐从此条线上退出(玩家慢慢会在别的线上登录)，然后重启此线，以实现玩家无感重启服务器<br/>

        <div class="form-group op-modal">
            <label class="col-sm-2 control-label">开服停服:</label>
            <div class="col-sm-offset-2 col-sm-10">
                    {% for serverId in supervisorAddrJson %}
                        {{ serverId }}服：<button type="submit" data-server-id='{{serverId}}'  data-process-id='0' class="btn btn-default op-stopping-submit">预停{{serverId}}服</button>
                <button type="submit" data-server-id='{{serverId}}' data-process-id='0' class="btn btn-default op-kick-submit">踢人{{serverId}}服</button>
                <br/>
                        {% for etcdServer in etcdServerListMap[serverId] %}
                                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ etcdServer["processId"] }} 线:   状态:{{etcdServer["st"]}}
                               玩家数:{{etcdServer.get("currentTcpCount",0)-etcdServer.get("ai_cnt",0)}} &nbsp;&nbsp;AI数:{{etcdServer.get("ai_cnt",0)}}
                            {% if etcdServer["st"] =='stopping' %}
                               <button type="submit" data-server-id='{{serverId}}'  data-process-id='{{etcdServer["processId"]}}' disabled class="btn disabled btn-default op-stopping-submit">预停{{ etcdServer["processId"] }}线</button>
                               {%else%}
                               <button type="submit" data-server-id='{{serverId}}' data-process-id='{{etcdServer["processId"]}}' class="btn btn-default op-stopping-submit">预停{{ etcdServer["processId"] }}线</button>
                            {% end %}
                            {% if etcdServer["st"] =='stopping' %}
                               <button type="submit" data-server-id='{{serverId}}'  data-process-id='{{etcdServer["processId"]}}' disabled class="btn disabled btn-default op-switch-submit">切线{{ etcdServer["processId"] }}线</button>
                               {%else%}
                               <button type="submit" data-server-id='{{serverId}}' data-process-id='{{etcdServer["processId"]}}' class="btn btn-default op-switch-submit">切线{{ etcdServer["processId"] }}线</button>
                            {% end %}

                               <button type="submit" data-server-id='{{serverId}}' data-process-id='{{etcdServer["processId"]}}' class="btn btn-default op-kick-submit">踢人{{ etcdServer["processId"] }}线</button>
                               <br/>
                        {% end %}

                        {% for addr in supervisorAddrJson[serverId] %}
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ addr }}" target="blank">{{ addr }}</a><br/>
                        {% end %}
                    {% end %}

            </div>
        </div>

    </form>
</div>


<script type="text/javascript">
 var ajaxing = false,
     modalEl=$('.op-modal'),
     data = {};

 modalEl.delegate('.op-stopping-submit', 'click', function(e) {
     var el = $(e.currentTarget);
     var processId=el.data('process-id');
     var serverId=el.data('server-id');
     if(ajaxing) return false;
     if(serverId == '' ) {
         serverId="1";
     }
     data['serverId'] = serverId;
     data['processId'] = processId;
     ajaxing = true;
     $.ajax({
         url: '/server_mgr/server_stopping',
         type: 'post',
         data: data
     })
      .done(function(data) {
          ajaxing = false;
          if(data == 'success') {
              location.href = '/server_mgr/server_mgr';
          } else {
              alert('无权限'+data);
          }
      });
     return false;
 });
 modalEl.delegate('.op-switch-submit', 'click', function(e) {
     var el = $(e.currentTarget);
     var processId=el.data('process-id');
     var serverId=el.data('server-id');
     if(ajaxing) return false;
     if(serverId == '' ) {
         serverId="1";
     }
     data['serverId'] = serverId;
     data['processId'] = processId;
     ajaxing = true;
     $.ajax({
         url: '/server_mgr/server_switch',
         type: 'post',
         data: data
     })
      .done(function(data) {
          ajaxing = false;
          if(data == 'success') {
              location.href = '/server_mgr/server_mgr';
          } else {
              alert('无权限'+data);
          }
      });
     return false;
 });



 modalEl.delegate('.op-kick-submit', 'click', function(e) {
     var el = $(e.currentTarget);
     var processId=el.data('process-id');
     var serverId=el.data('server-id');
     if(ajaxing) return false;
     if(serverId == '' ) {
         serverId="1";
     }
     data['serverId'] = serverId;
     data['processId'] = processId;
     data['uin'] = '0';/* 踢所有人 */
     ajaxing = true;
     $.ajax({
         url: '/player/kick',
         type: 'post',
         data: data
     })
      .done(function(data) {
          ajaxing = false;
          if(data == 'success') {
              location.href = '/server_mgr/server_mgr';
          } else {
              alert('无权限'+data);
          }
      });
     return false;
 });

</script>

{% end %}
