{% extends base.html %}
{% block css%}
<link href="../static/dist/room_ai_control.css" rel="stylesheet" type="text/css"/>
{% end %}
{% block body %}
<div class="ui-room-ai-option">
    <h2 class="form-signin-heading ui-room-ai-title">房间AI控制</h2>
    <ul class="ui-room-ai-list op-room-ai-list">
        <li class="ui-room-ai-item clearfix">
            <div class="ui-room-ai-cell ui-room-ai-cell-uin">
                房间Id
            </div>
            <div class="ui-room-ai-cell-title">
               房间名称
            </div>
            <div class="ui-room-ai-cell-content">
                是否允许AI进入
            </div>
        </li>
        {% for ml in result %}
        <li class="ui-room-ai-item clearfix">
            <div class="ui-room-ai-cell">
                {{ ml['roomId']}}
            </div>
            <div class="ui-room-ai-cell">
                {{ ml['roomName']}}
            </div>
            <div class="ui-room-ai-cell">
                <select class="form-control op-status" data-room-id="{{ ml['roomId']}}"  placeholder="是否允许AI进入" >
                        {% if ml['allowAI']=="true" %}
                                <option value='false' >不允许</option>
                                <option value='true' selected>允许</option>
                        {% else %}
                                <option value='false' selected>不允许</option>
                                <option value='true'>允许</option>
                        {% end %}
                </select>
            </div>
        </li>
        {% end %}
    </ul>
</div>

<script type="text/javascript">
 var statusEl = $('.op-status');
 var data ={};

 statusEl.on('change', function(e) {
     var el = $(e.currentTarget);
     data['roomId'] = el.data('room-id')
     data['status'] = el.val();
     ajaxing = true;
     $.ajax({
         url: '/zjh_room_ai_control/post',
         type: 'post',
         data: data,
         el: el
     })
      .done(function(data) {
          ajaxing = false;
          window.location.reload();
      });
 });

</script>
{% end %}
